@model IEnumerable<PowerOfGod.Domain.Entity.Shopping.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cartDepartment.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cartDepartment.Department_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Category_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Category_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Category_ID })
        </td>
    </tr>
}

</table>
