@model IEnumerable<PowerOfGod.Domain.Entity.Transactions.TransactionCode>

@{
    ViewBag.Title = "Transaction Codes";
    Layout = "~/Views/Shared/_LayoutLess.cshtml";
}
<br /><br /><br /><br /><br />
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.transTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.transTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.transCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.transCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.transCode })
            </td>
        </tr>
    }

</table>
