

<!DOCTYPE html>
<html>
<head>
    <style>

        fieldset {
            width: 90%;
            border-bottom: 1px solid #b7b7b7;
            margin-bottom: 15px;
            background-color: white;
            border-radius: 10px;
        }

        .link {
            text-decoration: none;
        }

        .tabs {
            padding-top: 2%;
            margin-left: 15%;
        }

            .tabs span {
                display: inline-block;
                padding-right: 4px;
            }

        strong span {
            display: inline-block;
            padding-right: 6px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />

    <title>The Power Of God Assembles</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <link href="~/Content1/AdminLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/widgets.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/style.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/xcharts.min.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content1/AdminLayout/css/owl.carousel.css" rel="stylesheet" />

</head>
<body>
    <header class="header dark-bg">
        <!----=============================================-->

        @*<div class="top-nav notification-row">
            <ul class="nav pull-right top-menu">
                <li id="mail_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-envelope-l"></i>
                        <span class="badge bg-important">@Html.Partial("_Inbox")</span><!--returns the count number of inbox messages-->
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="red">You have @Html.Partial("_Inbox") New messages</p>
                        </li>
                        <li>
                            <a href="@Url.Action("AllMessages", "EmailUs")">
                                <!--Redirect you to the tickets index-->
                                <i class="fa fa-warning text-red"></i> @Html.Partial("_Inbox") Notification(s) Found
                            </a>
                        </li>
                    </ul>
                </li>
                <!--=====================Notification=====================-->
                <li id="alert_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-l"></i>
                        <span class="badge bg-important"> @Html.Partial("_LeaveRequestCounter")</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="blue">You have (@Html.Partial("_LeaveRequestCounter"))Total leave requests</p>
                        </li>
                        <li>
                            <a href="@Url.Action("index", "EmployeeLeavels")">
                                <span class="label label-danger"><i class="icon_book_alt"></i></span>
                           
                            </a>
                        </li>
                   
                    </ul>
                </li>
                <!--=====================/Notification=====================-->
            </ul>
        </div>*@
        <!----=============================================-->
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>
        <div style="margin-top:20px">
            Treasurer : @User.Identity.Name
        </div>
    </header>
    <div>
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="~/Dashboard/Dashboard">
                            <i class="icon_house_alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    @*<li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_mail"></i>
                            <span>Inbox</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("My Inbox", "AllMessages", "EmailUs")</li>
                            <li><a href="https://salesiq.zoho.com/semicolon/index#portal/mycurrent">Chat</a></li>
                            <li></li>
                        </ul>
                    </li>*@
                    @*<li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_profile"></i>
                            <span>Employees</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Add Employee", "Create", "Employees")</li>
                            <li>@Html.ActionLink("List of Employee", "Index", "Employees")</li>
                            <li>@Html.ActionLink("Employee Timesheet", "Search", "Salaries")</li>

           
                            <li></li>
                        </ul>
                    </li>*@

                    @*<li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_table"></i>
                            <span>Roster</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("View Roster", "Index", "Rosters")</li>
                            <li>@Html.ActionLink("Modify Roster", "Create", "Rosters")</li>
                            <li></li>
                        </ul>*@
                    @*</li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Leaves</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("View Leaves", "Index", "EmployeeLeavels")</li>
                            <li>@Html.ActionLink("Approve Leave Stock", "Edite", "EmployeeLeavels")</li>
                        </ul>
                    </li>*@
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents"></i>
                            <span>Donation</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("View Donation", "Index", "Donations")</li>
                        </ul>
                    </li>
                    @*<li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_genius"></i>
                            <span>Bookings</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">

                            <li>@Html.ActionLink("Type Pastor", "Create", "TypeOfPastors")</li>
                            <li>@Html.ActionLink("Type of Venue", "Create", "TypeOFVenues")</li>
       
                            <li>@Html.ActionLink("Add Pastor", "Create", "Pastors")</li>
                            <li>@Html.ActionLink("Add Venue", "Create", "Venues")</li>

                            <li>@Html.ActionLink("Reason (Pastor)", "Create", "PastorBookingReasons")</li>
                            <li>@Html.ActionLink("Reason (Venue)", "Create", "VenueBookingDescriptions")</li>

                            <li>@Html.ActionLink("Pastors", "Index", "Pastors")</li>
                 
                            <li>@Html.ActionLink("Pastor Approval", "Index", "PastorBookings")</li>\

                            <li>@Html.ActionLink("Venue Approval", "Index", "VenueBookings")</li>
               
                        </ul>
                    </li>*@
                    @*<li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Events</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Add Event", "Create", "Events")</li>
                            <li>@Html.ActionLink("All Events", "Index", "Events")</li>
                            <li>@Html.ActionLink("Event Calander", "Callender", "Events")</li>
                        </ul>
                    </li>*@
                    @*<li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Stock</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Add Department", "Create", "CartDepartments")</li>
                            <li>@Html.ActionLink("Add Category", "Create", "Categories")</li>
                            <li>@Html.ActionLink("Add Item", "Create", "Items")</li>
                            <li>@Html.ActionLink("View Departments", "Index", "CartDepartments")</li>
                            <li>@Html.ActionLink("View Categories", "Index", "Categories")</li>
                            <li>@Html.ActionLink("View Items", "Index", "Items")</li>
                            <li>@Html.ActionLink("View Orders", "Customer_Orders", "Orders")</li>

                        </ul>
                    </li>*@

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents"></i>
                            <span>Financial Report</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Income Statement", "Index", "Transactions")</li>
                            <li>@Html.ActionLink("Record Transaction Codes", "Create", "TransactionCodes")</li>
                            <li>@Html.ActionLink("Record Expense Type", "Create", "TypeOfExpense_Income")</li>
                            <li>@Html.ActionLink("Record Income Type", "Create", "TypeOfIncomes")</li>
                            <li>@Html.ActionLink("Record Expenses", "Create", "Church_Expenses")</li>
                            <li>@Html.ActionLink("Record Income", "Create", "Church_Income")</li>
                            <li>@Html.ActionLink("Report", "Report", "Transactions")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_documents_alt"></i>
                            <span>Done</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">

                            @*@Html.ActionLink("Sign Out", "Login", "Account")*@
                    </li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
                </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Semicolon</p>
        </footer>
    </div>
    <script src="~/Content1/AdminLayout/js/jquery.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Content1/AdminLayout/js/bootstrap.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.nicescroll.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.sparkline.js"></script>
    <script src="~/Content1/AdminLayout/js/owl.carousel.js"></script>
    <script src="~/Content1/AdminLayout/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Content1/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content1/AdminLayout/js/charts.js"></script>
    <script src="~/Content1/AdminLayout/js/sparklines.js"></script>
    <script src="~/Content1/AdminLayout/js/morris.min.js"></script>
    <script src="~/Content1/AdminLayout/js/gdp-data.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.placeholder.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.autosize.min.js"></script>
    <script src="~/Content1/AdminLayout/js/xcharts.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content1/AdminLayout/js/easy-pie-chart.js"></script>
    <script src="~/Content1/AdminLayout/js/sparkline-chart.js"></script>
    <script src="~/Content1/AdminLayout/js/scripts.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.customSelect.min.js"></script>
    <script src="~/Content1/AdminLayout/js/jquery.rateit.min.js"></script>
    <script src="~/Content1/AdminLayout/js/calendar-custom.js"></script>
    <script src="~/Content1/AdminLayout/js/fullcalendar.min.js"></script>
    <script src="~/Content1/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="~/Content1/AdminLayout/assets/chart-master/Chart.js"></script>

    <script>
        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });</script>
</body>
</html>
