@model IEnumerable<PowerOfGod.Domain.Entity.Booking.PastorBookingViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLastName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PastorBookingVMId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PastorBookingVMId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PastorBookingVMId })
        </td>
    </tr>
}

</table>
