@model PowerOfGod.Domain.Entity.Transactions.Church_Income

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Church_Income</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfIncomes.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfIncomes.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpensesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
